<!DOCTYPE html>
<html lang="en">

<head data-th-replace="~{basic :: head}"></head>

<body>
        <div data-th-replace="~{navbar :: navbar}"></div>

        <!-- registration form -->
        <section data-th-fragment="register" class="bg-gray-50 dark:bg-gray-900">
                <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
                        <a href="#" class="flex items-center mt-6 mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
                                <img class="w-8 h-8 mr-2" data-th-src="@{'/images/w_final_logo.png'}" alt="logo" />
                                PCM
                        </a>
                        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                                <div class="p-6 space-y-1 md:space-y-6 sm:p-8 w-full">
                                        <button type="button" class="inline-flex items-center justify-center w-full text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                                                <svg class="h-6 w-6 mr-2" xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="800px"
                                                        height="800px" viewBox="-0.5 0 48 48" version="1.1">
                                                        <title>Google-color</title>
                                                        <desc>Created with Sketch.</desc>
                                                        <defs></defs>
                                                        <g id="Icons" stroke="none" stroke-width="1" fill="none"
                                                                fill-rule="evenodd">
                                                                <g id="Color-"
                                                                        transform="translate(-401.000000, -860.000000)">
                                                                        <g id="Google"
                                                                                transform="translate(401.000000, 860.000000)">
                                                                                <path d="M9.82727273,24 C9.82727273,22.4757333 10.0804318,21.0144 10.5322727,19.6437333 L2.62345455,13.6042667 C1.08206818,16.7338667 0.213636364,20.2602667 0.213636364,24 C0.213636364,27.7365333 1.081,31.2608 2.62025,34.3882667 L10.5247955,28.3370667 C10.0772273,26.9728 9.82727273,25.5168 9.82727273,24"
                                                                                        id="Fill-1" fill="#FBBC05">
                                                                                </path>
                                                                                <path d="M23.7136364,10.1333333 C27.025,10.1333333 30.0159091,11.3066667 32.3659091,13.2266667 L39.2022727,6.4 C35.0363636,2.77333333 29.6954545,0.533333333 23.7136364,0.533333333 C14.4268636,0.533333333 6.44540909,5.84426667 2.62345455,13.6042667 L10.5322727,19.6437333 C12.3545909,14.112 17.5491591,10.1333333 23.7136364,10.1333333"
                                                                                        id="Fill-2" fill="#EB4335">
                                                                                </path>
                                                                                <path d="M23.7136364,37.8666667 C17.5491591,37.8666667 12.3545909,33.888 10.5322727,28.3562667 L2.62345455,34.3946667 C6.44540909,42.1557333 14.4268636,47.4666667 23.7136364,47.4666667 C29.4455,47.4666667 34.9177955,45.4314667 39.0249545,41.6181333 L31.5177727,35.8144 C29.3995682,37.1488 26.7323182,37.8666667 23.7136364,37.8666667"
                                                                                        id="Fill-3" fill="#34A853">
                                                                                </path>
                                                                                <path d="M46.1454545,24 C46.1454545,22.6133333 45.9318182,21.12 45.6113636,19.7333333 L23.7136364,19.7333333 L23.7136364,28.8 L36.3181818,28.8 C35.6879545,31.8912 33.9724545,34.2677333 31.5177727,35.8144 L39.0249545,41.6181333 C43.3393409,37.6138667 46.1454545,31.6490667 46.1454545,24"
                                                                                        id="Fill-4" fill="#4285F4">
                                                                                </path>
                                                                        </g>
                                                                </g>
                                                        </g>
                                                </svg>
                                                Sign up with Google
                                        </button>
                                        <div class="flex items-center">
                                                <div class="w-full h-0.5 bg-gray-200 dark:bg-gray-700"></div>
                                                <div class="px-5 text-center text-gray-500 dark:text-gray-400">
                                                        or
                                                </div>
                                                <div class="w-full h-0.5 bg-gray-200 dark:bg-gray-700"></div>
                                        </div>
                                        <form class="space-y-2 md:space-y-6" data-th-action="@{'/user-register'}" method="post" data-th-object="${registerUser}" novalidate>
                                                <div class="grid gap-4 mb-3 md:grid-cols-2">
                                                        <div>
                                                                <label for="user_name"
                                                                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                                                                <input type="text" id="user_name" data-th-field="*{username}"
                                                                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                                       placeholder="Username" required />
                                                                <P data-th-if="${#fields.hasErrors('username')}" data-th-errors="*{username}" class="mt-2 text-sm text-red-600 dark:text-red-500"></p>
                                                        </div>
                                                        <div>
                                                                <label for="first_name"
                                                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First
                                                                        name</label>
                                                                <input type="text" id="first_name" data-th-field="*{firstName}"
                                                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                                        placeholder="John" required />
                                                                <P data-th-if="${#fields.hasErrors('firstName')}" data-th-errors="*{firstName}" class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">Oops!</span> First name should not empty</p>
                                                        </div>
                                                        <div>
                                                                <label for="last_name"
                                                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last
                                                                        name</label>
                                                                <input type="text" id="last_name" data-th-field="*{lastName}"
                                                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                                        placeholder="Doe" required />
                                                                <P data-th-if="${#fields.hasErrors('lastName')}" data-th-errors="*{lastName}" class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">Oops!</span> Last name should not empty</p>
                                                        </div>
                                                        <div>
                                                                <label for="phone"
                                                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone
                                                                        number</label>
                                                                <input type="tel" id="phone" data-th-field="*{phoneNumber}"
                                                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                                        placeholder="123-45-678"
                                                                        pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required />
                                                                <P data-th-if="${#fields.hasErrors('phoneNumber')}" data-th-errors="*{phoneNumber}" class="mt-2 text-sm text-red-600 dark:text-red-500"></p>
                                                        </div>

                                                </div>
                                                <div class="mb-3">
                                                        <label for="email"
                                                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email
                                                                address</label>
                                                        <input type="email" id="email" data-th-field="*{email}"
                                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                                placeholder="john.doe@company.com" required />
                                                        <P data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}" class="mt-2 text-sm text-red-600 dark:text-red-500"></p>
                                                </div>
                                                <div class="mb-3">
                                                        <label for="password"
                                                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                                                        <input type="password" id="password" data-th-field="*{password}"
                                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                                placeholder="•••••••••" required />
                                                        <P data-th-if="${#fields.hasErrors('password')}" data-th-errors="*{password}" class="mt-2 text-sm text-red-600 dark:text-red-500"></p>
                                                </div>
                                                <div class="mb-3">
                                                        <label for="about"
                                                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">About
                                                                yourself</label>
                                                        <textarea id="about" rows="4" data-th-field="*{about}"
                                                                  class="block p-2 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                                  placeholder="Write about yourself..."></textarea>
                                                        <P data-th-if="${#fields.hasErrors('about')}" data-th-errors="*{about}" class="mt-2 text-sm text-red-600 dark:text-red-500"></p>
                                                </div>
                                                <div class="flex items-start mb-6">
                                                        <div class="flex items-center h-5">
                                                                <input id="remember" type="checkbox" value="" data-th-field="*{privacyTerms}"
                                                                        class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
                                                                        required />
                                                        </div>
                                                        <label for="remember"
                                                                class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">I
                                                                agree with the
                                                                <a href="#"
                                                                        class="text-blue-600 hover:underline dark:text-blue-500">terms
                                                                        and conditions</a>.</label>
                                                        <P data-th-if="${#fields.hasErrors('privacyTerms')}" data-th-errors="*{privacyTerms}" class="mt-2 text-sm text-red-600 dark:text-red-500"></p>
                                                </div>
                                                <button type="submit"
                                                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                                        Submit
                                                </button>
                                        </form>
                                </div>
                        </div>
                </div>
        </section>
</body>

</html>